<title>SHOW</title>

<p>
  <strong>FV:</strong>
  <%= @basket_detail.id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @basket_detail.product_id %>
</p>  <p>
  <strong>Title:</strong>
  <%= @basket_detail.basket_id %>
</p>











