<footer class="footer">
  <small>
   Pawel & Kamil
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   users_new_path %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://github.com/dartho2">News</a></li>
    </ul>
  </nav>
</footer>
